streamlit==1.41.0
numpy
pandas
plotly
matplotlib
seaborn
matplotlib-fontja

statsmodels
scipy
tqdm
rdrobust
rddensity
tfcausalimpact
jinja2
causallib
causalml

scikit-learn
tensorflow
tensorflow_probability
tf-keras
xgboost
lightgbm